:root {
  --color-primary: #fd377e;
  --color-primmary-2: #e34981;
  --color-secondary: #03b898;
  --gray-4: #212529;
  --gray-3: #868e96;
  --gray-2: #e9ecef;
  --gray-1: #f8f9fa;
}

.form {
  background: white;
  height: 360px;
  width: 350px;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.form button {
  background: var(--color-primary);
  color: white;
  border: unset;
  width: 310px;
  height: 48px;
  cursor: pointer;
  margin-left: 5%;
  margin-top: 20px;
  border-radius: 10px;
}

.form span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: var(--gray-3);
  width: 150px;
  margin-top: 4px;
}

.form p {
  width: 150px;
  margin-left: 5%;
  margin-top: 38px;
  display: flex;
  font-family: Inter;
  font-size: 12px;
  line-height: 22px;
  color: #212529;
}

.input-description {
  width: 314px;
  height: 52px;
  border: unset;
  border-radius: 10px;
  background: var(--gray-1);
  margin-left: 15px;
  margin-top: 12px;
}

.valor-tipo {
  display: flex;
  margin-left: 5%;
}

.valor-tipo input {
  background: var(--gray-1);
  border: unset;
  height: 48px;
  width: 120px;
  margin-right: 36px;
  margin-top: 9px;
  color: var(--gray-3);
}

.valor-tipo select {
  width: 150px;
  height: 48px;
  background: var(--gray-1);
  color: var(--gray-3);
  margin-top: 9px;
}

.valor p {
  margin-top: 8px;
  margin-bottom: 0px;
  margin-left: 0px;
}

@media (max-width: 768px) {
  .form {
    background: white;
    height: 360px;
    width: 350px;
    box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 25px;
  }
}
