:root {
  --color-primary: #fd377e;
  --color-primmary-2: #e34981;
  --color-secondary: #03b898;
  --gray-4: #212529;
  --gray-3: #868e96;
  --gray-2: #e9ecef;
  --gray-1: #f8f9fa;
}

.list {
  list-style: none;
  position: relative;
}
.resumo-financeiro {
  display: flex;
  margin-left: 50px;
  margin-top: 39px;
}
.resumo-financeiro :nth-child(2) {
  background-color: var(--color-primary);
  color: white;
}
.resumo-financeiro button {
  height: 40px;
  border: unset;
  cursor: pointer;
  margin-left: 250px;
  margin-right: -230px;
  border-radius: 9px;
  color: var(--gray-3);
}

.empty-card {
  width: 560px;
  height: 87px;
  height: 50px;
  background-color: var(--gray-1);
  margin-left: 58px;
  margin-bottom: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empy-card-ractangle1 {
  background-color: var(--gray-2);
  height: 13px;
  width: 330px;
}

.empy-card-ractangle2 {
  background-color: var(--gray-2);
  height: 13px;
  width: 80px;
  margin-top: 10px;
  margin-left: -250px;
}

@media (max-width: 600px) {
  .list {
    list-style: none;
    position: relative;
    margin-bottom: 250px;
    margin-left: -30px;
  }

  .empty-card {
    width: 360px;
    height: 50px;
    background-color: var(--gray-1);
    margin: auto;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .empy-card-ractangle1 {
    background-color: var(--gray-2);
    height: 13px;
    width: 130px;
    margin-left: -100px;
  }

  .empy-card-ractangle2 {
    background-color: var(--gray-2);
    height: 13px;
    width: 40px;
    margin-top: 10px;
    margin-left: -190px;
  }
}
